
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

#game_board {
    margin: 0 0;
    width: 980px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 200px;
    line-height: 80px;
    border: 3px black;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background: white;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    margin: 6px
}

img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
/* 裏の状態 */
.back {
    background-image: url('img/back_blue.png');
    background-size: 150px 200px;
    border-radius: 5px;
}

/* 終了時 */
.finish {
    opacity: 0;
    cursor: default;
}
#result_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 300px;
    margin: 0 0;
}

.pengin_explain{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#pengens{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* 経過秒数 */
#result {
    padding: 10px 0;
    margin: 0 0;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    font-family: "Yu Gothic";
    background-color: rgba(159, 250, 250, 0.251);
    border-radius: 10px;
    
}

.explain {
    font-size: 1.0em;
    font-weight: bold;
    font-family: "Yu Gothic";
    text-align: center;
    background-color: rgba(13, 255, 118, 0.785);


}

#explain {
    font-size: 1.0em;
    font-weight: bold;
    font-family: "Yu Gothic";
    text-align: center;
    background-color: rgba(119, 240, 178, 0.251);
    width: 300px;   
    height: 325px;
}

#endmodal {
    /* noneからblockに変更することがある */
    display: none;  
    /* 重ね合わせ表示の順番を指定 */
    z-index: 1;
    position: fixed;
    inset: 0;
    margin: auto;
    width: 40%; 
    height: 70%; 
    overflow: auto; 
    background-color: rgb(115, 199, 255); 
    border-radius: 13px;
}
.timeUp{
    text-align: center;
}
.modal_penguin{
    display: block;
    padding: 20px 20px;
    margin: 20px auto;
}

.modal_button{
    display: block;
    padding: 20px 20px; 
    margin: 20px auto;
    background-color: rgb(51, 110, 221);
    color: white;
    border: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Yu Gothic";
    cursor: pointer;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .3s;
}
.modal_button:hover {
	color: #fff;
	background: #27acd9;
}


#resultmodal {
    /* noneからblockに変更することがある */
    display: none;  
    flex-direction: column;
    justify-content: center;
    /* 重ね合わせ表示の順番を指定 */
    z-index: 1;
    position: fixed;
    inset: 0;
    margin: auto;
    width: 40%; 
    height: 90%; 
    overflow: auto; 
    background-color: rgba(186, 255, 195, 0.93); 
    border-radius: 13px;
}
.clear{
    text-align: center;
    margin-top: 50px;
}
#game-result{
    text-align: center;
    margin: 50px;
}

#screen{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#saikai{
    width: 200px;
    height: 250px;
}
.saikai-gif{
    width: 200px;
    height: 250px;
    margin: 0 auto;
}
.test-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.test-form input{
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-family: "Yu Gothic";
    text-align: center;
}
#submit{
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    font-family: "Yu Gothic";
    text-align: center;
    background-color: rgb(68, 120, 242);
    color: white;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
#submit:hover {
    color: #fff;
    background: #27acd9;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}