.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cde2f9;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.game_start{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 10, 10, 0.105);
    margin: 20px;
    text-decoration: none;
}

.story{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.078);
    text-decoration: none;
}

body{
    background-color:#cde2f9;
}

#story_button{
    display: block;
  margin: 20px auto;
  background-color: rgb(51, 110, 221);
  color: white;
  border: 0;
  padding: 6px 10px;
}
#popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

#popup-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}
#story_text{
    margin: 20px;
    font-size: 20px;
    text-align: center;

}

#close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }