#game_board {
    width: 1000px;
    height: 550px;
    overflow: hidden;
    margin:auto
}

.card {
    width: 150px;
    height: 200px;
    line-height: 80px;
    border: 1px silver;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background: #d9d9d9;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    margin: 6px
   
}

img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
/* 裏の状態 */
.back {
    background-image: url('card.png');
    background-size: 150px 200px;
    border-radius: 5px;
}

/* 終了時 */
.finish {
    opacity: 0;
    cursor: default;
}

/* 経過秒数 */
#result {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Yu Gothic"
}

#explainatin {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Yu Gothic"
}